body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('../images/bk.jpg');
    background-size: cover;
    background-position: right bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.aside {
    position: absolute;
    top: 0;
    right: 0;
    width: 36%;
    bottom: 0;
    transition: width 0.3s ease-out;
}

    .aside .row {
        position: absolute;
        top: 26%;
        left: 23%;
        width: 58%;
        background: #fff;
        padding: 25px;
        box-sizing: border-box;
        border-radius: 4px;
        color: #aaa;
    }

@media (min-width: 1367px) and (max-width: 1440px) {
    .aside .row {
        width: 72%;
        left: 14%;
    }

    .version i {
        font-size: 260px;
    }
}

@media (min-width: 1025px) and (max-width: 1366px) {
    .aside .row {
        width: 72%;
        left: 14%;
        top: 22%;
    }

    .version i {
        font-size: 240px;
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
    .aside .row {
        left: 10%;
        width: 80%;
        top: 23%;
    }
}

.aside-blur2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 36%;
    bottom: 0;
    overflow: hidden;
    transition: width 0.3s ease-out;
}

.transparent {
    background-color: #000;
    opacity: 0.15;
}

.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none
    }
}

.panel-title {
    color: black;
    font-weight: bold;
}

.form-group {
    position: relative;
}

    .form-group button {
        width: 100%;
    }

.icon {
    display: inline-block;
    height: 34px;
    width: 28px;
    background-repeat: no-repeat;
    position: absolute;
    top: 25px;
    left: 6px;
    z-index: 2;
    font-family: "CM_XT5" !important;
    font-size: 24px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

.logo {
    display: inline-block;
    margin: 40px 0 0 50px;
}

.copyright {
    position: absolute;
    bottom: 30px;
    left: 50px;
    font-style: normal;
    color: white;
}

label.slogan {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: normal;
}

.slogan {
    display: inline-block;
    margin: 60px 0 0 50px;
}

.form-control {
    padding-left: 32px;
}
